.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-item {
  text-decoration: none;
  width: 100%;
}

.menu-button {
  display: flex;
  align-items: center;
  padding-left: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.active-menu {
  background-color: #e2e8f0;
}

.active-menu p,
.active-menu svg {
  color: red !important;
  font-weight: bold;
}

.menu-button:hover {
  background-color: #cbd5e0;
}

.menu-button:hover p,
.menu-button:hover .menu-icon {
  color: #cc0000 !important;
  font-weight: bold;
}

.dark {
  color: #fff !important;
}

.menu-icon {
  height: 26px;
  width: 26px;
  margin-right: 20px;
  color: #000;
}
